# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
Debug/
Release/
x64/
x86/

# Rider
.idea/

# NuGet
*.nupkg
packages/
.nuget/
project.lock.json

# VS Code
.vscode/

# Others
*.exe
*.dll
*.pdb